@import './fonts.scss';
@import './colors.scss';

html {
  font-family: 'TT Lakes';
  background-color: $grey-background;
}



html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* *{
    border: .1px solid;
} */