@import '../technical/colors.scss';

.modale-back {
    height: 100%;
}

.modal {
    z-index: 3;
    position: absolute;
    top: 0px;
    transform: translateX(-100%);
    // transform: translateX(0%);
    transition: .2s linear;
    background-color: $white ;
    height: 676px;

}

@media (min-width: 768px) {
    .modal {
        width: 320px;
        height: 100%;
        position: fixed;
        overflow: scroll;
    }
}


.feedback__close-btn,
.call__close-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    margin: 24px 16px;
    border-radius: 50%;

    .feedback__close-btn-icon,
    .call__close-btn-icon {
        width: 40px;
        height: 40px;
        display: block;
    }
}


.modal__title {
    position: relative;

    .feedback__title-text,
    .call__title-text {
        margin: 0;
        font-size: 24px;
        line-height: 32px;
        margin-top: 16px;
        margin-bottom: 24px;
        margin-left: 16px;
        color: $black-text;
        font-weight: bold;
    }

    &::before {
        content: '';
        width: 8px;
        height: 40px;
        background: #41F6D7;
        position: absolute;
        border-radius: 4px;
        left: -4px;
        bottom: 0px;
    }

}

.feedback__form,
.call__form {
    padding: 0 16px;

    input,
    textarea {
        width: 100%;
        margin-bottom: 16px;
        border-radius: 8px;
        border: 1px solid $grey-border;
        padding: 12px 16px;
    }

    input {
        height: 48px;
    }


    textarea {
        height: 118px;
        resize: none;
    }

    input::placeholder,
    textarea::placeholder {
        color: $placeholder;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }

    .form__agree,
    .call__agree {
        margin: 0;
        color: $grey-text;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 19px;
    }

    .form__agree--red,
    .call__agree--red {
        color: $red-text;
        text-decoration: none;
    }

}


.feedback__submit,
.call__submit {
    input[type='submit'] {
        height: 1px;
        width: 1px;
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }

    display: flex;
    align-items: center;
    justify-content: flex-end;

    .feedback__submit-label,
    .call__submit-label {
        cursor: pointer;
        width: 136px;
        height: 32px;
        display: flex;
        background-color: $pink-offer-btn;
        align-items: center;
        border-radius: 16px;
        justify-content: space-between;

        p {
            color: $white;
            font-size: 12px;
            line-height: 24px;
            font-weight: bold;
            margin: 0;
            margin-left: 16px;
        }

        img {
            margin-right: 9px;
        }
    }
}