@import '../technical/colors.scss';

.site-header {
    height: 88px;
    width: 100%;
    background: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $light-green;
    padding-left: 16px;
    padding-right: 16px;



    .header__round-link {
        width: 40px;
        height: 40px;
        text-decoration: none;
        padding: 0;
        border: none;
        background-color: transparent;
    }
}

@media (min-width: 768px) {
    .site-header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.site-header__left-side {
    display: flex;
    align-items: center;

    .header__logo-link {
        width: 98px;
        height: 52px;
        margin-left: 16px;
    }
}


.site-header__menu786 {
    display: none;
}

@media (min-width: 768px) {
    .site-header__right-side {
        display: flex;
    }

    .site-header__menu786 {
        display: flex;

        .header__round-link {
            margin-left: 16px;
        }
    }
}

.site-header__menu320 {
    display: flex;

    .header__round-link {
        margin-left: 16px;
    }

    &::before {
        content: '';
        width: 2px;
        height: 32px;
        border-radius: 1px;
        background-color: #eaeaea;
        position: relative;
        top: 4px;
        bottom: 4px;
        margin-right: 4px;
        margin-left: 20px;
    }


}