.page-nav {
    height: 40px;
    position: relative;

    &::before {
        content: '';
        height: 40px;
        width: 24px;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to left, transparent 33%, #f8f8f8);

    }

    &::after {
        content: '';
        height: 40px;
        width: 24px;
        position: absolute;
        right: 0;
        top: 0;
        background: linear-gradient(to right, transparent, #f8f8f8);
    }

}


.page-nav__list {
    overflow: auto;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style: none;
    height: 40px;
}

.page-nav__item {
    display: inline-block;

    &:first-child {
        margin-left: 16px;
    }

    &:last-child {
        margin-right: 16px;
    }
}

@media (min-width: 768px) {
    .page-nav__item {
        display: inline-block;

        &:first-child {
            margin-left: 24px;
        }

        &:last-child {
            margin-right: 24px;
        }
    }
}

.page-nav__item--active {
    border: 2px solid $green-active;
    border-radius: 6px;
    background-color: #fff;
}

.page-nav__link {
    color: $grey-text;
    text-decoration: none;
    display: block;
    margin: 6px 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}