@import '../technical/colors.scss';



.page-title {
    .page-title__text {

        margin: 0;
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 24px;
        margin-left: 16px;
        margin-top: 24px;
        color: $black-text;
        font-weight: bold;
    }

    @media (min-width: 768px) {
        .page-title__text {
            margin-left: 24px;
        }
    }

    @media (min-width: 1440px) {
        .page-title__text {
            margin-top: 0;
        }
    }

    &::before {
        content: '';
        width: 8px;
        height: 40px;
        background: #41F6D7;
        position: absolute;
        border-radius: 4px;
        left: -4px;
    }
}

.page-title__right {
    display: none;
}

@media (min-width: 1440px) {
    .page-title {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        &__right {
            display: flex;
            align-items: center;
        }

        &__offer,
        &__check {
            display: flex;
            align-items: center;
            margin-top: 0;
            margin-right: 32px;

            p {
                margin: 0;
                margin-right: 8px;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }
    }


    .page-title::before {
        left: 316px;
    }
}