.big-blur {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    right: 0px;
    z-index: 3;
    display: none;
    opacity: 0;
    transition: .25s ease-out;
    // box-shadow: inset -5px 0px 5px grey;
}