.show-more-read {
    max-height: 450px;
}

.show-more-brands {
    max-height: 350px;
}

.show-more-appliance {
    max-height: 528px;
}

@media (min-width: 1440px){
    
    .show-more-brands {
        max-height: 265px;
    }
    
    .show-more-appliance {
        max-height: 348px;
    }

}