
@import './colors.scss';
.swiper-appliances {
    height: 228px;
    .swiper-slide{
        padding-top: 16px;
        padding-left: 16px;
    }
    .swiper-appliances__button {
        position: relative;
        box-sizing: border-box;
        background-color: $white;
        border-radius: 6px;
        border: 1px solid $grey-border;
       display: block;
        padding:  15px;
        width: 240px;
        height: 160px;
        text-decoration: none;
        color: $black-text;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        .swiper-appliances__button-text{
margin: 0;
        }
        .swiper-appliances__button-icon{
            position: absolute;
            bottom: 15px;
            right: 15px;
        }
    }
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 24px;
    }
}